.main-content{
    width: 1300px;
    height: auto;
}
.product{
    display: flex;
}
.id-1{
    list-style: none;
    width: 400px;
    height: 300px;
    border: 1px solid red;
    margin-left: 20px;
    justify-items: center;
}
.id-1>li{
    margin: 10px auto;
}